:root {
    --primery-text-color:#757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}


body {
    background-color: #FFFFFF;
    color: #757575;;
}
/*Logo*/

.logo {
    text-decoration: none;
}

.logo-up-black {
    color:#000000;
}

.logo-up-black:hover {
    color: var(--accent-color);
}

.logo-up-blue {
    color: var(--accent-color);
}

/*Site navigation*/

.list {
    list-style: none;
}

.site-nav a {
    text-decoration: none;
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/*Auth-nav*/
.auth-nav .link {
    text-decoration: none;
    color: var(--primery-text-color);    
}


.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/*Hero*/
.hero-title {
    color: #FFFFFF;
}

.button {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/*Section*/

.section-title {
    color: var(--title-text-color);
}

 /*Features*/

.features-list {
    list-style: none;
}

.features-list .title {    
    color: var(--title-text-color);
}

/*Наша деятельность*/

.images {
    list-style: none;
}

/*Staff*/

.staff {
    list-style: none;
}

.staff-name {
    color: var(--title-text-color);
}
.staff-position {
    color: var(--primery-text-color);
}

/*Footer*/

.logo-down-white {
    color: #FFFFFF;
}

.logo-down-white:hover {
    color: var(--accent-color);
}

.logo-down-blue {
    color: var(--accent-color);
}

.bottom .list,
.bottom .town,
.bottom .link{
    text-decoration: none;
}

.bottom .town {
    color: #FFFFFF;
}

.bottom .link {
    color: rgba(255, 255, 255, 0.6);
}

.bottom .town:hover,
.bottom .town:focus,
.bottom .link:hover,
.bottom .link:focus{
    color: var(--accent-color);
}



hero and footer color цвет бекграунд: #2F303A;