body {
    background-color: #FFFFFF;
    color:#757575;
}

.logo-up-black {
    color:#000000;
}

.logo-up-blue {
   color: #2196F3;
}

.list {
    list-style: none;
}

/*Site navigation*/

.site-nav a {
   color: #212121;
}


/*Цвет лого*/
#2196F3;
#000000;

/* Цвет Лого WEB, Студия, Ссылка в шапке*/
#2196F3;

/*Цвет текста герой*/
#FFFFFF;

/* Цветпримущества теста*/
<h3>#212121;
Цвет основного текста <p>#757575;



/*Цвет героя и футера*/

hero and footer color цвет бекграунд: #2F303A;
Адрес: #FFFFFF;
Єлектронка и телефон FFFFFF с 60% прозрачности;
rgba(255, 255, 255, 0.6);

/*Вторичный цвет фона*/
#F5F4FA;
/*Цвет основной*/